@import "../../color.scss";

a.article {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  margin: 50px 0;
  display: flex;
  transition: all;
  transition-duration: 0.5s;
  padding: 10px;

  .title {
    margin: 0;
  }

  .content {
    text-align: justify;
  }
  .publication,
  .source {
    margin-top: 20px;
    font-size: 0.75rem;
    text-align: justify;
  }

  h3 {
    text-align: justify;
  }

  img {
    margin-right: 50px;
    max-width: 50vw;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }

  &:hover {
    -webkit-transform: scale(1.05); /* Safari et Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* Internet Explorer 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 10px;
  }

  &:visited {
    color: inherit;
  }
}
