@import "./color.scss";

header {
  width: 80vw;
  margin: auto;

  .legal {
    margin-top: 20px;
    text-align: justify;
  }

  .logo {
    display: block;
    max-height: 25vh;
    margin: auto;
  }

  form {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;

    input {
      max-width: 500px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      width: 100%;
      background-color: lightgrey;
    }

    button {
      background-color: $main-color;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }

    button:hover {
      cursor: pointer;
    }
  }

  .filters-row {
    display: flex;
    align-items: center;
    overflow-x: auto;
    border-top: solid 1px lightgrey;
    border-bottom: double black;
  }
}

@media (max-width: 1024px) {
  header {
    width: 95vw;
    .legal {
      font-size: 0.65rem;
    }

    form {
      flex-direction: column;
      margin: 25px auto;

      input {
        margin-bottom: 10px;
        box-sizing: border-box;
      }

      button {
        background-color: $main-color;
        border: none;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}
